<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update/Delete Ninja</title>
  </head>
  <body>
    <h1> Update/delete Ninja <%= ninjas.name %></h1>
    <form action="/<%= ninjas.id%>" method='post'>
      <label for="name">Name</label>
      <input type="text" name="name" value ="<%= ninjas.name %>">
      <label for="name">Description</label>
      <input type="text" name="description" value = "<%= ninjas.description %>">
      <input type="submit" value="Update!">
      <% for (idx in ninjas) { %>
          <form action="/<%= ninjas[idx]._id %>" method='post'>
            <input type="submit" value="Delete">
          </form>
      <% } %>
    </form>
  </body>
</html>
